body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.finance
{
  
  padding: 5px;
  padding-left: 80px;
  
  background-image: url(./images/background.gif);
  background-repeat: no-repeat;
  background-position: top-left;

  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
}

}